* {margin: 0; padding: 0; box-sizing: border-box;} 
 li {list-style: none;}
* { margin: 0px; padding: 0px; box-sizing: border-box; }
li { list-style: none; }
.header_2 { padding: 0px 20px; display: flex; align-items: center; justify-content: space-between; height: 80px; background-color: rgb(255, 255, 255); }
.header_2 span { float: left; color: rgb(255, 255, 255); text-align: center; line-height: 80px; font-size: 20px; margin-left: 10px; }
.header_2 .logins a { color: rgb(0, 0, 0); }
.header_2 img { float: left; border-radius: 100px; width: 70px; height: 70px; margin: 10px 0px; }
.dhl_1 { height: 60px; width: 1200px; margin: 0px auto; background-color: rgb(68, 162, 86); }
.dhl_1 ul li a { color: rgb(255, 255, 255); text-decoration: none; }
.dhl_1 ul li { float: left; text-align: center; height: 60px; line-height: 60px; width: 240px; background-color: rgb(86, 86, 86); }
.dhl_1 ul li:hover { background-color: rgb(126, 175, 207); }
.banner { width: 100%; }
.banner img { width: 100%; }
.biaoti_3 h2 { padding: 20px 0px; text-align: center; font-weight: lighter; }
.main_18 { display: flex; justify-content: space-between; }
.main_18 .lefts { width: 570px; }
.main_18 .rights { width: 600px; }
.main_8 { margin: 20px 0px; }
.main_8 ul { display: flex; justify-content: space-between; }
.main_8 li div { padding: 10px; background-color: rgb(225, 225, 225); }
.main_8 li img { width: 100%; transition: 0.2s; height: 200px; }
.main_8 li img:hover { transform: scale(0.9); }
.main_8 li h3 { padding: 8px 0px; text-align: center; }
.footer_1 { clear: both; width: 1200px; padding: 10px 12px; margin: 0px auto; color: rgb(255, 255, 255); background-color: rgb(86, 86, 86); text-align: center; }
.main_30 { margin: 20px 0px; display: flex; justify-content: space-between; }
.main_30 img { width: 392px; }
.main_30 span { display: block; text-align: center; margin: 10px; }
.main_19 { overflow: hidden; padding: 10px; margin: 20px 0px; border: 1px solid rgb(0, 0, 0); }
.main_19 img { float: left; margin-right: 15px; width: 230px; height: 230px; }
.main_29 { margin: 20px 0px; }
.main_29 .input-box { width: 600px; overflow: hidden; margin: auto auto 20px; }
.main_29 .input-box input { border: 1px solid rgb(204, 204, 204); width: 385px; height: 26px; float: left; }
.main_29 .input-box textarea { border: 1px solid rgb(204, 204, 204); display: block; width: 385px; height: 100px; float: left; }
.main_29 .input-box p { height: 26px; width: 140px; float: left; line-height: 26px; }
body { background-color: rgb(255, 231, 181); }
.box { margin: 0px auto; position: relative; padding: 0px 10px 10px; width: 1220px; background-color: rgb(255, 255, 255); list-style: none; }
.box p { line-height: 28px; font-size: 16px; color: rgb(0, 0, 0); text-indent: 2em; text-align: justify; }
.main_8 li { width: 300px; margin: 5px; }
.main_3 { margin: 20px 0px; }
.main_3 .img { float: left; height: 540px; width: 250px; margin-right: 15px; border-radius: 5px; }
.main_3 .rightbox div { display: flex; padding: 10px; border: 3px solid rgb(205, 117, 115); margin-top: 10px; }
.main_3 .rightbox div img { float: left; width: 250px; height: 250px; margin-right: 15px; }
.main_26 td { line-height: 40px; border: 1px solid rgb(153, 153, 153); padding-left: 5px; }
.login_2 { position: relative; height: 100vh; width: 100%; background: url("../images/c1.jpg") center center / cover no-repeat fixed; }
.login_2 .loginbox .logGet { height: 480px; width: 368px; position: absolute; background-color: rgb(255, 255, 255); top: 20%; right: 15%; }
.login_2 .loginhead { display: block; height: 80px; line-height: 80px; color: rgb(255, 255, 255); font-size: 20px; background-color: rgb(102, 204, 204); text-align: center; position: relative; }
.login_2 .logC button { cursor: pointer; width: 100%; height: 45px; background-color: rgb(102, 204, 204); border: none; color: white; font-size: 18px; }
.login_2 .logGet .logD.logDtip .p1 { display: inline-block; font-size: 24px; margin-top: 30px; padding-bottom: 10px; color: rgb(102, 204, 204); }
.login_2 .loginbox .logGet .logD.logDtip { width: 86%; border-bottom: 1px solid rgb(102, 204, 204); margin: 0px auto 60px; }
.login_2 .logGet .lgD input { width: 100%; height: 42px; text-indent: 0.8em; }
.login_2 .loginbox .logGet .lgD { width: 86%; position: relative; margin: 30px auto; }
.login_2 .loginbox .logGet .logC { width: 86%; margin: 0px auto; }
.register_1 { position: relative; height: 100vh; background: url("../images/c1.jpg") center center / cover no-repeat fixed; }
.register_1 .login-container, .registration-bj { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgb(194, 233, 252); padding: 20px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px; max-width: 400px; width: 100%; text-align: center; }
.register_1 .login-container h2 { color: rgb(51, 51, 51); font-size: 20px; }
.register_1 .login-form { margin-top: 20px; }
.register_1 .form-group { margin-bottom: 15px; }
.register_1 .form-group label { display: block; margin-bottom: 5px; font-weight: bold; }
.register_1 .form-group input { width: 100%; padding: 10px; height: 50px; box-sizing: border-box; border: 1px solid rgb(204, 204, 204); border-radius: 5px; }
.register_1 .form-group button { background-color: rgb(76, 175, 80); color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; }